<Configuration>
	<General>
		<Setting name="SelectedTest" value="LeapYearTesting" type="String"/>
		<Setting name="Categories.Enabled" value="False" type="Boolean"/>
		<Setting name="Categories.ExcludeSelected" value="False" type="Boolean"/>
	</General>
	<Form>
		<Setting name="WindowState" value="0" type="Integer"/>
		<Setting name="Left" value="2145" type="Single"/>
		<Setting name="Top" value="4155" type="Single"/>
		<Setting name="Width" value="14175" type="Single"/>
		<Setting name="Height" value="8280" type="Single"/>
		<Setting name="SplitterPosition" value="4500" type="Long"/>
	</Form>
	<TreeViewExpanded>
		<Setting name="LeapYearTesting" value="True" type="Boolean"/>
		<Setting name="LeapYearTesting.LeapYearTests" value="True" type="Boolean"/>
	</TreeViewExpanded>
	<Categories.Selected/>
</Configuration>
