<Configuration>
	<General>
		<Setting name="SelectedTest" value="LeapYearTesting" type="String"/>
		<Setting name="Categories.Enabled" value="False" type="Boolean"/>
		<Setting name="Categories.ExcludeSelected" value="False" type="Boolean"/>
	</General>
	<Form>
		<Setting name="WindowState" value="0" type="Integer"/>
		<Setting name="Left" value="2640" type="Single"/>
		<Setting name="Top" value="2640" type="Single"/>
		<Setting name="Width" value="9570" type="Single"/>
		<Setting name="Height" value="5940" type="Single"/>
		<Setting name="SplitterPosition" value="3480" type="Long"/>
	</Form>
	<TreeViewExpanded>
		<Setting name="LeapYearTesting" value="False" type="Boolean"/>
		<Setting name="LeapYearTesting.LeapYearTests" value="False" type="Boolean"/>
	</TreeViewExpanded>
	<Categories.Selected/>
</Configuration>
